div#wrapper p {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}

div#wrapper input
{
	width:50px;
	height:50px;
	border:1px solid #dedede;
	background:#fff;
	margin:1px;
	color:#666;
}

div#wrapper input:hover
{
	cursor:pointer;
}

div#wrapper
{
	color:#666;
	position: absolute; 
	top: 200px; 
	left: 45%;"
}

div#wrapper a
{
	text-decoration:none;
	font-family: Arial, helvetica, sans-serif;
	color:#666;
	text-indent:57px;
	float:left;
	margin-top:10px;
	font-size:14px;
}

div#wrapper a:hover
{
	text-decoration:underline;
}